body, .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
}
.container {
  margin: 20px 10px 0 10px;
}
#contacts h2, #upcoming-visits h2, #my-profile h2, #history h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #89a9bc;
    padding-bottom: 5px;
}
section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
#banner {
  display: flex;
  background-color: transparent;
  box-shadow: 0 0;
  gap: 35vh;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer p {
  width: auto;
  text-align: center;
  font-size: small;
}
.section-greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}
.section-greeting img {
  width: 45%;
  max-width: 1200px;
}
p {
  color: #0d1e3c;
  font-size: larger;
  text-align: justify;
  width: 45vh;
}
h1 {
  margin: 3vh 0;
  color: #0d1e3c;
  text-shadow: 3px 0 #0d1e3c;
  letter-spacing: 1px;
  line-height: 70px;
  text-align: left;
  font-size: 4em;
  width: 24vw;
}
.section-container {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Start Global Rules 
* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small 
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium 
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large 
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  
  /* Start Landing Page 
  .landing-page header {
    min-height: 80px;
    display: flex;
  }
  @media (max-width: 767px) {
    .landing-page header {
      min-height: auto;
      display: initial;
    }
  }
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .landing-page header .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  .landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .landing-page header .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .landing-page header .links {
    display: flex;
    align-items: center;
  }
  @media (max-width: 767px) {
    .landing-page header .links {
      text-align: center;
      gap: 10px;
    }
  }
  .landing-page header .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: .3s;
  }
  @media (max-width: 767px) {
    .landing-page header .links li {
      margin-left: auto;
    }
  }
  .landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #6c63ff;
  }
  .landing-page header .links li:not(:last-child):hover {
    color: #6c63ff;
  }
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  @media (max-width: 767px) {
    .landing-page .content .container {
      gap: 0;
      min-height: calc(100vh - 101px);
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
    .landing-page .content .info {
      text-align: center;
      margin-bottom: 15px 
    }
  }
  .landing-page .content .info h1 {
    color: #5d5d5d;
    font-size: 44px;
  }
  .landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
  }
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
  }
  .landing-page .content .image img {
    max-width: 100%;
  }
  /* End Landing Page */
  