<div class="wrapper">
    <app-header></app-header>
    <div class="container">
        <div class="section-greeting">
            <section id="banner">
                <div class="text">
                    <h1>A SOLUTION FOR YOUR WELLBEING</h1>
                    <p>Experience the future of healthcare with our all-inclusive medical services, right from the comfort of your home. 
                        We make accessing top-tier health solutions easier and more convenient than ever
                    </p>
                </div>
                <img src="assets/images/banner.png" alt="Wellbeing Solution Logo">
            </section>
        </div>
    
        <div class="section-container">
            <section id="upcoming-visits">
                <h2>Upcoming Visits</h2>
                <p>You can view your scheduled upcoming visits.</p>
            </section>
        
            <section id="my-profile">
                <h2>My Profile</h2>
                <p>Manage your personal information and view your medical records.</p>
            </section>
        
            <section id="history">
                <h2>History</h2>
                <p>View the history of your past visits and treatments.</p>
            </section>
        </div>
    </div>
</div>
<footer>
    <p>© 2024 Medicine Center. All rights reserved.</p>
</footer>