body {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    width: 100vw;
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
    background-image: linear-gradient(to right, #ADBBDA 0%, #EDE8F5 90%);
    margin: 0px;
    font-family: 'Manrope';
}
form {
    text-align: center;
}
select, input, button {
    width: 20vw;
    height: 7vh;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bcbcbc;
    font-size: 17px;
    border-radius: 15px;
    font-family: 'Manrope';
}
button {
    background-color: rgba(0, 0, 0, 0.02);
    height: 5vh;
    border: 1px solid #737373;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #7b94d58a;
    transition: 0.4s;
    transform: scale(110%);
}
input:focus-visible {
    background-color: #ffe4e442;
    transition: 0.4s;
}
.ng-invalid.ng-touched {
    border-color: #ff000059 !important; 
}